body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: stretch;
}
.page .sidebar {
  width: 350px;
  overflow-y: scroll;
  margin: 10px 0;
  padding: 0 10px;
}
.page .sidebar li {
  padding: 8px;
  font-size: 12px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page .sidebar li a {
  text-decoration: none;
  color: #999;
  cursor: default;
}
.page .sidebar li.available a {
  color: steelBlue;
  cursor: pointer;
}
.page .sidebar li.available a:hover {
  color: #333;
}
.page .sidebar li.selected {
  background-color: lightblue;
}
.page .content {
  flex: 1;
  position: relative;
}
.page .content iframe {
  border: 0;
  position: absolute;
  box-sizing: border-box;
  width: 99%;
  height: 99%;
}
